body{
    margin: 0px;
    padding: 0px;
}

    /* header related */
header{
    width: auto;
    background-color: rgb(184, 184, 184);
    padding: 10px;
    margin: 0px;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
} 
header > .logontable{
    display: flex;
    /* justify-content: space-between; */
    justify-content: space-around;
}
header > .intronrest{
    display: flex;
    /* justify-content: space-between; */
    justify-content: space-around;
}
header > .h1np{
    display: flex;
    justify-content: space-around;
}
ul{
    list-style-type: none;
}
li{
    display: inline;
    padding: 10px;
}
a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}
h2{
    width: 405px;
}
.boxheader{
    background-color: grey;
    text-align: center;
    margin: 0;
    width: 400px;
    height: 150px;
    padding-top: 30px;
    border-radius: 30px;
}
    /* end header related */

    /* body related */
.boxcontainer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.boxcontainer > .services{
    display: flex;
    justify-content: space-evenly;
}
.boxcontainer > .recentwork{
    display: flex;
    justify-content: space-evenly;
}
.boxcontainer > .twitterbox{
    display: flex;
    justify-content: space-evenly;
}

    /* NavigationBar */
nav{
    float: left;
    background-color: grey;
    width: 150px;
    height: 570px;
    border-radius: 30px;
    margin-left: 50px;
}
    
nav > p{
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}
nav > ul{
    padding: 0px;
}
    /* end navigationbar */

    /* 6 info boxes */
.service1{
    background: grey;
    width: 400px;
    height: 200px;
    /* padding-top: 70px; */
    text-align: center;
    color: rgb(0, 0, 0);
    border-radius: 30px;
}
.service2{
    background: grey;
    width: 400px;
    height: 200px;
    /* padding-top: 70px; */
    text-align: center;
    color: rgb(0, 0, 0);
    border-radius: 30px;
}
.service3{
    background: grey;
    width: 400px;
    height: 200px;
    /* padding-top: 70px; */
    text-align: center;
    color: rgb(0, 0, 0);
    border-radius: 30px;
}
.recentwork1{
    background: grey;
    width: 400px;
    height: 200px;
    /* padding-top: 70px; */
    text-align: center;
    color: rgb(0, 0, 0);
    border-radius: 30px;
}
.recentwork2{
    background: grey;
    width: 400px;
    height: 200px;
    /* padding-top: 70px; */
    text-align: center;
    color: rgb(0, 0, 0);
    border-radius: 30px;
}
.recentwork3{
    background: grey;
    width: 400px;
    height: 200px;
    /* padding-top: 70px; */
    text-align: center;
    color: rgb(0, 0, 0);
    border-radius: 30px;
}
    /* 6 info boxes */

.twitterbox > p{
    background-color: grey;
    height: 80px;
    width: 1460px;
    border-radius: 30px;
    text-align: center;
}    
    /* end body related */

    /* footer related */
footer{
    background-color: grey;
    width: 100%;
    position: sticky;
    bottom: 0;
    display: flex;
    justify-content: space-around;
}
footer > p{
    color: rgb(0, 0, 0);
    width: 250px;
    text-align: right;
}
.footerlist{
    margin-right: 150px;
    margin-left: 0px;
    padding-left: 0px;
}
    /* end footer related */