p{
    color: rgb(80, 147, 241) !important;
    font-size: xx-large;
    border: solid; color: blue;

}
/* table, th, tbody{
    border: 1px solid black;
    border-collapse: collapse;
    
    } */
thead{
    color: rgb(255, 0, 0);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: xx-large;
    background: rgb(142,47,69);
    background: linear-gradient(90deg, rgba(142,47,69,1) 0%, rgba(64,64,230,1) 50%, rgba(0,212,255,1) 100%); 
    text-align: center;
}
tbody{
    color: rgb(84, 180, 28);
    font-size: x-large;
    font-style: oblique
}
td{
    color: rgb(7, 3, 13);
    border-left: 2px solid blue;
    border-bottom: 2px solid blue;
    border-right: 2px solid blue;
    border-radius: 5px;
    text-align: center;
}
